* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url('http://82.157.63.89:7791/i/2024/10/08/67053cd175897.jpg') center no-repeat;
  // background: url('@/public/images.jpg') center no-repeat;
  // background: url('/src/public/images/1.jpg') center no-repeat;
  background-size: cover;
}
