* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url('../../public/images/1.jpg') center no-repeat;
  background-size: cover;
}
